<%= form_for(@bank) do |f| %>
  <% if @bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank.errors.count, "error") %> prohibited this bank from being saved:</h2>

      <ul>
      <% @bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :azienda_id %><br>
    <%= f.text_field :azienda_id %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :abi %><br>
    <%= f.text_field :abi %>
  </div>
  <div class="field">
    <%= f.label :cab %><br>
    <%= f.text_field :cab %>
  </div>
  <div class="field">
    <%= f.label :numeroconto %><br>
    <%= f.text_field :numeroconto %>
  </div>
  <div class="field">
    <%= f.label :iban %><br>
    <%= f.text_field :iban %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
