<p id="notice"><%= notice %></p>

<p>
  <strong>Azienda:</strong>
  <%= @bank.azienda %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @bank.nome %>
</p>

<p>
  <strong>Abi:</strong>
  <%= @bank.abi %>
</p>

<p>
  <strong>Cab:</strong>
  <%= @bank.cab %>
</p>

<p>
  <strong>Numeroconto:</strong>
  <%= @bank.numeroconto %>
</p>

<p>
  <strong>Iban:</strong>
  <%= @bank.iban %>
</p>

<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>
