



<div class="row" id="dettaglio">
	<div class="col-xs-12 col-sm-4">
		<h3>
			City: <%= params[:city] %>
		</h3>
	</div>
	<div class="col-xs-12 col-sm-4">
		<h3 class="text-center">
			Date: <%= (Time.at(@obj['dt'])).strftime("%d/%m/%Y") %>
		</h3>
	</div>
	<div class="col-xs-12 col-sm-4">
		<h3 class="text-right">
			Time: <%= (Time.at(@obj['dt'])).strftime("%H:%M:%S") %>
		</h3>
	</div>
</div><!-- /row -->


<div class="row" id="dettaglio">
	<div class="col-xs-12 col-sm-2">
		<h3>
			Daily: <%= @obj['temp']['day'] %>°C
		</h3>
	</div>
	<div class="col-xs-12 col-sm-2">
		<h3 class="text-center">
			Min: <%= @obj['temp']['min'] %>°C
		</h3>
	</div>
	<div class="col-xs-12 col-sm-2">
		<h3 class="text-center">
			Max: <%= @obj['temp']['max'] %>°C
		</h3>
	</div>
	<div class="col-xs-12 col-sm-2">
		<h3 class="text-center">
			Morn: <%= @obj['temp']['morn'] %>°C
		</h3>
	</div>
	<div class="col-xs-12 col-sm-2">
		<h3 class="text-center">
			Eve: <%= @obj['temp']['eve'] %>°C
		</h3>
	</div>
	<div class="col-xs-12 col-sm-2">
		<h3 class="text-center">
			Night: <%= @obj['temp']['night'] %>°C
		</h3>
	</div>
</div><!-- /row -->



<div class="row" id="dettaglio">
	<div class="col-xs-12 col-sm-3">
		<h3>
			Pressure: <%= @obj['pressure'] %>°C
		</h3>
	</div>
	<div class="col-xs-12 col-sm-3">
		<h3 class="text-center">
			Humidity: <%= @obj['humidity'] %>%
		</h3>
	</div>
	<div class="col-xs-12 col-sm-2">
		<h3>
			Weather: <%= @obj['weather'].first['main'] %>
		</h3>
	</div>
	<div class="col-xs-12 col-sm-1">
		<h3 class="text-center">
			<img src="http://openweathermap.org/img/w/<%= @obj['weather'].first['icon'] %>.png"><br>
		</h3>
	</div>
	<div class="col-xs-12 col-sm-3">
		<h3 class="text-right">
			<%= @obj['weather'].first['description'] %>
		</h3>
	</div>
</div><!-- /row -->


<div class="row" id="dettaglio">
	<div class="col-xs-12 col-sm-3">
		<h3>
			Speed Wind: <%= @obj['speed'] %>°C
		</h3>
	</div>
	<div class="col-xs-12 col-sm-3">
		<h3 class="text-center">
			Deg: <%= @obj['deg'] %>%
		</h3>
	</div>
	<div class="col-xs-12 col-sm-3">
		<h3 class="text-center">
			Clouds: <%= @obj['clouds'] %>
		</h3>
	</div>
	<div class="col-xs-12 col-sm-3">
		<h3 class="text-right">
			Rain: <%= @obj['rain'] %>%
		</h3>
	</div>
</div><!-- /row -->

