<%= form_for(payment_method) do |f| %>
  <% if payment_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment_method.errors.count, "error") %> prohibited this payment_method from being saved:</h2>

      <ul>
      <% payment_method.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="input-field">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'materialize-textarea' %>
  </div>

  <div class="actions">
    <%= f.submit 'invia', class: 'btn col-s12 cyan darken-2' %>
  </div>
<% end %>

<script type="text/javascript">
// non sovrappone la scritta dove c'è cpntenuto in form
$(document).ready(function() {
    Materialize.updateTextFields();
  });
</script>