
<h1 class="header">Fatture Emesse</h1>

<table class="responsive-table striped">
  <thead>
    <tr>
      <th>Denominazione</th>
      <th>Tassa</th>
      <th>Nr.</th>
      <th>Data</th>
      <th>Imponibile</th>
      <th>Totale Tassa</th>
      <th>Totale Prezzo</th>
      <th>Pagato</th>
      <th>PDF</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.address_book.name %></td>
        <td><%= invoice.tax.name %></td>
        <td><%= invoice.invoice_number %></td>
        <td><%= invoice.invoice_date.strftime("%d/%m/%Y") %></td>
        <td><%= money(invoice.total_pretax) %></td>
        <td><%= money(invoice.total_tax_price) %></td>
        <td><%= money(invoice.total_price) %></td>
        <td>
          <%= link_to icon_tf(invoice.paid), paid_status_invoice_path(invoice.id), method: :put, class: "material-icons" %>
        </td>
        <td><%= link_to('pdf', "/invoices/#{invoice.id}/fattura.pdf", class: 'fa fa-print fa-2x', target: '_Blank') %></td>
        <td><%= link_to 'launch', invoice, class: 'material-icons' %></td>
        <td><%= link_to 'mode_edit', edit_invoice_path(invoice), class: 'material-icons' %></td>
        <td><%= link_to 'delete_forever', invoice, method: :delete, class: 'material-icons', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuova Fattura', new_invoice_path, class: 'btn red-motowork' %>
