<%= form_for(@shelf) do |f| %>
  <% if @shelf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shelf.errors.count, "error") %> prohibited this shelf from being saved:</h2>

      <ul>
      <% @shelf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>

    <div class="field">
    <%= f.label :location_id %><br>
     <%= f.collection_select :location_id, Location.all, :id, :nome, {include_blank: true}%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
