<h1>DDT Interno - Operatori / Lavorazioni</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Azienda</th>
      <th>Operatore</th>
      <th>Data</th>
      <th>Riconsegnato</th>
      <th>Rif ddt</th>
      <th>Note</th>
      <th>Trasporto</th>
      <th>Colli</th>
      <th>Aspetto</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @internos.each do |interno| %>
      <tr>
        <td><%= interno.azienda.denominazione %></td>
        <td><%= interno.operatore.try(:denominazione) %></td>
        <td><%= interno.data %></td>
        <td><%= interno.riconsegnato %></td>
        <td><%= interno.rif_ddt %></td>
        <td><%= interno.note %></td>
        <td><%= interno.trasporto %></td>
        <td><%= interno.colli %></td>
        <td><%= interno.aspetto %></td>
        <td><%= interno.note %></td>
        <td><%= link_to 'Vedi', interno, class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Modifica', edit_interno_path(interno), class: 'btn btn-warning btn-xs' %></td>
        <td><%= link_to 'Cancella', interno, method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuovo DDT interno', '/pages/interno', class: 'btn btn-info btn-md' %>
