<p id="notice"><%= notice %></p>

<h1>Listing Custumer Banks</h1>

<table>
  <thead>
    <tr>
      <th>Custumer</th>
      <th>Banca</th>
      <th>Abi</th>
      <th>Cab</th>
      <th>Numero conto</th>
      <th>Iban</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custumer_banks.each do |custumer_bank| %>
      <tr>
        <td><%= custumer_bank.custumer %></td>
        <td><%= custumer_bank.banca %></td>
        <td><%= custumer_bank.abi %></td>
        <td><%= custumer_bank.cab %></td>
        <td><%= custumer_bank.numero_conto %></td>
        <td><%= custumer_bank.iban %></td>
        <td><%= link_to 'Show', custumer_bank %></td>
        <td><%= link_to 'Edit', edit_custumer_bank_path(custumer_bank) %></td>
        <td><%= link_to 'Destroy', custumer_bank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custumer bank', new_custumer_bank_path %>
