<p id="notice"><%= notice %></p>

<p>
  <strong>Entrata:</strong>
  <%= @entratadatum.entrata %>
</p>

<p>
  <strong>Pezzo:</strong>
  <%= @entratadatum.pezzo %>
</p>

<p>
  <strong>Lavorazione:</strong>
  <%= @entratadatum.lavorazione %>
</p>

<p>
  <strong>Note:</strong>
  <%= @entratadatum.note %>
</p>

<p>
  <strong>Quantita:</strong>
  <%= @entratadatum.quantita %>
</p>

<p>
  <strong>Colli:</strong>
  <%= @entratadatum.colli %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @entratadatum.peso %>
</p>

<%= link_to 'Edit', edit_entratadatum_path(@entratadatum) %> |
<%= link_to 'Back', entratadata_path %>
