<p id="notice"><%= notice %></p>

<p>
  <strong>Denominazione:</strong>
  <%= @operatore.denominazione %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @operatore.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @operatore.cognome %>
</p>

<p>
  <strong>Piva:</strong>
  <%= @operatore.piva %>
</p>

<p>
  <strong>Codfisc:</strong>
  <%= @operatore.codfisc %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @operatore.indirizzo %>
</p>

<p>
  <strong>Civico:</strong>
  <%= @operatore.civico %>
</p>

<p>
  <strong>Cap:</strong>
  <%= @operatore.cap %>
</p>

<p>
  <strong>Citta:</strong>
  <%= @operatore.citta %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @operatore.provincia %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @operatore.tel %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @operatore.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @operatore.email %>
</p>

<p>
  <strong>Note:</strong>
  <%= @operatore.note %>
</p>

<%= link_to 'modifica', edit_operatore_path(@operatore) %> |
<%= link_to 'indice', operatores_path %>
