<%= form_for(@worker) do |f| %>
  <% if @worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worker.errors.count, "error") %> prohibited this worker from being saved:</h2>

      <ul>
      <% @worker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, class: 'form-control' %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <%= f.label :cognome %><br>
    <%= f.text_field :cognome, class: 'form-control' %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <%= f.label :codfisc %><br>
    <%= f.text_field :codfisc, class: 'form-control' %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <%= f.label :piva %><br>
    <%= f.text_field :piva, class: 'form-control' %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= f.label :indirizzo %><br>
    <%= f.text_field :indirizzo, class: 'form-control' %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <%= f.label :cap %><br>
    <%= f.text_field :cap, class: 'form-control' %>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <%= f.label :citta %><br>
    <%= f.text_field :citta, class: 'form-control' %>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <%= f.label :provincia %><br>
    <%= f.text_field :provincia, class: 'form-control' %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono, class: 'form-control' %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <%= f.label :cellulare %><br>
    <%= f.text_field :cellulare, class: 'form-control' %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <%= f.label :role_id %><br>
    <%= f.collection_select :role_id, Role.all, :id, :title, {include_blank: true}, class: 'form-control' %>

  </div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <%= f.label :costo_ora %><br>
    <%= f.text_field :costo_ora, class: 'form-control' %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <%= f.label :password %><br>
    <%= f.text_field :password, class: 'form-control' %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= f.submit %>
  </div>

<% end %>
