<%= form_for(@scadenzapagamento) do |f| %>
  <% if @scadenzapagamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scadenzapagamento.errors.count, "error") %> prohibited this scadenzapagamento from being saved:</h2>

      <ul>
      <% @scadenzapagamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :invoice_id %><br>
    <%= f.text_field :invoice_id %>
  </div>
  <div class="field">
    <%= f.label :scadenza %><br>
    <%= f.date_select :scadenza %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
