<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @catextrawork.nome %>
</p>

<p>
  <strong>Altro:</strong>
  <%= @catextrawork.altro %>
</p>

<p>
  <strong>Prezzo:</strong>
  <%= @catextrawork.prezzo %>
</p>

<%= link_to 'Edit', edit_catextrawork_path(@catextrawork) %> |
<%= link_to 'Back', catextraworks_path %>
