<p id="notice"><%= notice %></p>

<p>
  <strong>Work:</strong>
  <%= @extralavorowork.extrawork_id %>
</p>

<p>
  <strong>Lavoro:</strong>
  <%= @extralavorowork.lavoro %>
</p>

<%= link_to 'Edit', edit_extralavorowork_path(@extralavorowork) %> |
<%= link_to 'Back', extralavoroworks_path %>
