
  <%= form_for @invoice do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12">
    <%= f.label :azienda_id %><br>
    <%= f.collection_select :azienda_id, Azienda.all, :id, :denominazione, {include_blank: true}, class: 'form-control' %>
  </div>

  <div class="col-md-12">
    <%= f.label :data %><br>
    <%= f.date_select(:data,  order: [:day, :month, :year], class: 'form-control') %>
  </div>
  <div class="col-md-12">
    <%= f.label :numero %><br>
    <%= f.number_field :numero, class: 'col-md-12' %>
  </div>


<!--
<div class="field">
  <%= f.collection_check_boxes :exit_ids,  Exit.all, :id, :visione, class: 'form-control' %>
</div>
-->
<div class="col-md-12">
<h4>SELEZIONA DDT DA INSERIRE IN FATTI</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Azienda</th>
              <th>N. DDT</th>
              <th>Data</th>
            </tr>
          </thead>

          <tbody>
            <% Exit.where('azienda_id=?', @invoice.azienda_id).each do |exit| %>

              <tr>
                <td>
                <%= check_box_tag :exit_ids, exit.id, @invoice.exits.include?(exit), :name => 'invoice[exit_ids][]' %>
                </td>
                <td><%= exit.azienda.denominazione %></td>
                <td><%= exit.numero %></td>
                <td><%= exit.data %></td>
              </tr>
              <% end %>
          </tbody>
        </table>
</div>




<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nested"><!-- NESTED COCOON -->
   <div class="col-lg-12">
    <h3>CONTENUTI EXTRA IN FATTURA</h3>
    <fieldset id="invoiceextras">
      <%= f.fields_for (:invoiceextras) do |item| %>
        <%= render 'invoiceextra_fields', f: item %>
      <% end %>
      <div class="col-lg-1">
      <br>
      <%= link_to_add_association 'aggiungi', f, :invoiceextras, { class:"btn btn-primary" } %>
      </div>
    </fieldset>
  </div>
</div><!-- fine nested -->




  <div class="col-md-12">
    <br>
    <br>
    <%= f.label :taxation_id, "Tassazione %" %><br>
    <%= f.collection_select :taxation_id, Taxation.all, :id, :descrizione, {include_blank: true, :prompt => "Seleziona l'iva da imporre"}, class: 'form-control taxfield', :required => true %>
  </div>


  <div class="col-md-12">
    <%= f.label :note %><br>
    <%= f.text_area :note, class: 'form-control' %>
  </div>

  <div class="col-md-12">
    <%= f.label :pagamento %><br>
    <%= f.collection_select :pagamento, Tipopagamento.all, :titolo, :titolo, {include_blank: true}, class: 'form-control' %>
  </div>

  <div class="col-md-12">
     <!-- NESTED SCADENZA PAGAMENTI-->
    <fieldset id="entratadata">
      <%= f.fields_for (:scadenzapagamentos) do |item| %>
        <%= render 'scadenzapagamento_fields', f: item %>
      <% end %>
      <div class="col-lg-1">
      <br>
      <%= link_to_add_association 'aggiungi', f, :scadenzapagamentos, { class:"btn btn-primary" } %>
      </div>
    </fieldset>
  <!-- FINE NESTED -->
  </div>

  <div class="col-xs-12">
    <br>
    <br>
    <%= f.submit 'SALVA', class: 'btn btn-primary' %>
  </div>
<% end %>




