  	<h3 style="text-align: right">Spett.le <%= @invoice.azienda.denominazione %></h3>
  	<p style="text-align: right">
  		P.iva: <%= @invoice.azienda.piva %><br>
  		Cod.Fisc:<%= @invoice.azienda.codfisc %><br>
		<%= @invoice.azienda.indirizzo %>  -  <%= @invoice.azienda.cap %> - <%= @invoice.azienda.citta %><br>
		Tel: <%= @invoice.azienda.tel %><br>
   		Fax: <%= @invoice.azienda.fax %><br>
   	<br>
   	<br>
   	<br>
   	<br>
</p>