<ul>
	<li><%= link_to 'ANAGRAFICA CLIENTI', owners_path %></li>
	<li><%= link_to 'VEICOLI', cars_path %></li>
	<li><%= link_to 'GOMME', tyres_path %></li>
	<li>--------------------------------------</li>
	<li><%= link_to 'TIPOLOGIA INTERVENTI', worktypologies_path %></li>
	<li><%= link_to 'INTERVENTI', works_path %></li>
	<li>--------------------------------------</li>
	<li><%= link_to 'SCAFFALI', shelves_path %></li>
	<li><%= link_to 'BLOCCHI', blocks_path %></li>
	<li><%= link_to 'PIANI', floors_path %></li>
	<li><%= link_to 'COLONNE', columns_path %></li>
</ul>