<h1>Listing floors</h1>

<table>
  <thead>
    <tr>
      <th>Block</th>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @floors.each do |floor| %>
      <tr>
        <td><%= floor.block.try(:nome) %></td>
        <td><%= floor.nome %></td>
        <td><%= link_to 'Show', floor %></td>
        <td><%= link_to 'Edit', edit_floor_path(floor) %></td>
        <td><%= link_to 'Destroy', floor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Floor', new_floor_path %>
