<p id="notice"><%= notice %></p>

<p>
  <strong>Denominazione:</strong>
  <%= @custumer.denominazione %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @custumer.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @custumer.cognome %>
</p>

<p>
  <strong>Piva:</strong>
  <%= @custumer.piva %>
</p>

<p>
  <strong>Codfisc:</strong>
  <%= @custumer.codfisc %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @custumer.telefono %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @custumer.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @custumer.email %>
</p>

<p>
  <strong>Web:</strong>
  <%= @custumer.web %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @custumer.indirizzo %>
</p>

<p>
  <strong>Civico:</strong>
  <%= @custumer.civico %>
</p>

<p>
  <strong>Cap:</strong>
  <%= @custumer.cap %>
</p>

<p>
  <strong>Citta:</strong>
  <%= @custumer.citta %>
</p>

<p>
  <strong>Latitudine:</strong>
  <%= @custumer.latitudine %>
</p>

<p>
  <strong>Longitudine:</strong>
  <%= @custumer.longitudine %>
</p>

<p>
  <strong>Note:</strong>
  <%= @custumer.note %>
</p>

<p>
  <strong>Image:</strong>
  <%= @custumer.image %>
</p>

<%= link_to 'Edit', edit_custumer_path(@custumer) %> |
<%= link_to 'Back', custumers_path %>
