  	<h3 style="text-align: right">Spett.le <%= @exit.azienda.denominazione %></h3>
  	<p style="text-align: right">
  		P.iva: <%= @exit.azienda.piva %><br>
  		Cod.Fisc:<%= @exit.azienda.codfisc %><br>
		<%= @exit.azienda.indirizzo %>  -  <%= @exit.azienda.cap %> - <%= @exit.azienda.citta %><br>
		Tel: <%= @exit.azienda.tel %><br>
   		Fax: <%= @exit.azienda.fax %><br>
   	<br>
   	<br>
   	<br>
   	<br>
</p>