<h1>Listing worktypes</h1>

<table>
  <thead>
    <tr>
      <th>Work</th>
      <th>Worktypolgy</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @worktypes.each do |worktype| %>
      <tr>
        <td><%= worktype.work_id %></td>
        <td><%= worktype.worktypolgy %></td>
        <td><%= link_to 'Show', worktype %></td>
        <td><%= link_to 'Edit', edit_worktype_path(worktype) %></td>
        <td><%= link_to 'Destroy', worktype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Worktype', new_worktype_path %>
