<p id="notice"><%= notice %></p>

<p>
  <strong>Exit:</strong>
  <%= @exit_entratum.exit %>
</p>

<p>
  <strong>Entratum:</strong>
  <%= @exit_entratum.entratum %>
</p>

<%= link_to 'Edit', edit_exit_entratum_path(@exit_entratum) %> |
<%= link_to 'Back', exit_entrata_path %>
