<%= form_for(@exit) do |f| %>


  <div class="form-inputs">


<div class="col-md-12">
    <%= f.label 'Azienda' %><br>
    <%= f.collection_select :azienda_id, Azienda.order(:denominazione), :id, :denominazione, {include_blank: true}, class: 'form-control', :id => 'request_azienda_id', :required => true %>
</div>

<div class="col-md-12">
  <%= f.label 'Seleziona Lavorazioni da Includere in DDT' %><br>
  <%= f.collection_check_boxes :entratum_ids,  Entratum.all, :id, :visione, class: 'form-control' %>
</div>


<div class="col-md-6">
    <%= f.label 'data' %><br>
    <%= f.date_select :data, class: 'form-control' %>
</div>

<div class="col-md-6">
    <%= f.label 'Numero DDT' %><br>
    <%= f.number_field :numero, class: 'form-control'%>
</div>


<div class="col-md-4">
    <%= f.label 'numero colli' %><br>
    <%= f.number_field :colli, class: 'form-control' %>
</div>

<div class="col-md-4">
    <%= f.label 'Quantita Pezzi' %><br>
    <%= f.number_field :quantita, class: 'form-control' %>
</div>

<div class="col-md-4">
    <%= f.label 'pezzi scartati' %><br>
    <%= f.number_field :scarti, class: 'form-control' %>
</div>

<div class="col-md-12">
    <%= f.label 'Note'%><br>
    <%= f.text_field :note, class: 'form-control' %>
</div>

<div class="col-md-6">
    <%= f.label 'Trasporto a Carico di:' %><br>
    <%= f.text_field :tipo_trasporto, class: 'form-control' %>
</div>

<div class="col-md-6">
      <%= f.label 'Responsabile Trasporto:' %><br>   
    <%= f.text_field :responsabile_trasporto, class: 'form-control' %>
</div>


<div class="col-md-12">
    <%= f.label 'Aspetto dei Beni' %><br>    
    <%= f.text_field :aspetto, class: 'form-control' %>
</div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
