<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice:</strong>
  <%= @payment_deadline.invoice %>
</p>

<p>
  <strong>Data:</strong>
  <%= @payment_deadline.data %>
</p>

<p>
  <strong>Testo:</strong>
  <%= @payment_deadline.testo %>
</p>

<p>
  <strong>Note:</strong>
  <%= @payment_deadline.note %>
</p>

<%= link_to 'Edit', edit_payment_deadline_path(@payment_deadline) %> |
<%= link_to 'Back', payment_deadlines_path %>
