<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= f.label :custumer_id %><br>
    <%= f.collection_select :custumer_id, Custumer.all, :id, :denominazione, {include_blank: true}, class: 'form-control', :required => true %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <%= f.label :numero %><br>
    <%= f.number_field :numero, class: 'form-control' %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <%= f.label :data %><br>
    <%= f.date_select :data, class: 'form-control' %>
  </div>


  <!-- ARTICOLI FATTURA -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nested">
     <div class="col-lg-12">
      <h3>Articoli</h3>
      <fieldset id="invoice_articles">
        <%= f.fields_for (:invoice_articles) do |item| %>
          <%= render 'invoice_article_fields2', f: item %>
        <% end %>
        <div class="col-lg-1">
        <br>
        <%= link_to_add_association 'Aggiungi Articolo Fattura', f, :invoice_articles, { class:"btn btn-primary" } %>
        </div>
      </fieldset>
    </div>
  </div>
  <!-- fine articoli fattura -->


  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <%= f.label :payment_type_id, "Modalità di Pagamento" %><br>
    <%= f.collection_select :payment_type_id, PaymentType.all, :id, :titolo, {include_blank: true}, class: 'form-control' %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <%= f.label :tax_id %><br>
    <%= f.collection_select :tax_id, Tax.all, :id, :titolo, {include_blank: true}, class: 'form-control' %>
  </div>



  <!-- scadenze pagamento -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nested">
     <div class="col-lg-12">
      <h3>Scadenze Pagamento</h3>
      <fieldset id="payment_deadlines">
        <%= f.fields_for (:payment_deadlines) do |item| %>
          <%= render 'payment_deadline_fields', f: item %>
        <% end %>
        <div class="col-lg-1">
        <br>
        <%= link_to_add_association 'Aggiungi Scadenza Pagamento', f, :payment_deadlines, { class:"btn btn-primary" } %>
        </div>
      </fieldset>
    </div>
  </div>
  <!-- fine scadenze di pagamento -->



  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= f.label :note %><br>
    <%= f.text_area :note, class: 'form-control' %>
  </div>
  <div class="col-xs-12">
    <%= f.label :pagato %><br>
    <%= f.check_box :pagato, class: 'form-control' %>
  </div>
  
  <div class="col-xs-12">
    <%= f.submit %>
  </div>
<% end %>
