<p id="notice"><%= notice %></p>


<div id="pagina-fattura" class="container">

  <div class="col-xs-12">
    <h2>CARBURANTI SPECIALI s.r.l.</h2>
    <h3>
      Via Unione, 3 - 20122 Milano (Italia)<br>
      P.IVA: e Cod.Fisc: 08613720963<br>
      R.E.A nr. MI 2037107 - Capitale Sociale €. 10.000
      <br><br>
    </h3>
  </div>

  <div class="col-xs-12"><hr></div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <p>
          <strong> Fattura N. <%= @invoice.numero %> <%= @invoice.cod_comune %></br></strong>
          <strong>Data: <%= @invoice.data.strftime "%d-%m-%Y" %></strong>   
      </p>

      <p>
          <% if !@invoice.custumer.address.nil? && !@invoice.custumer.address.via.empty? %>
          <strong>Da Fatturare a:</strong><br>
          <%= @invoice.custumer.denominazione %><br>
          <%= @invoice.custumer.indirizzo %><br>
          <%= @invoice.custumer.cap %> - <%= @invoice.custumer.citta %> (<%= @invoice.custumer.provincia %>)<br>
          P.IVA: <%= @invoice.custumer.piva %><br>
          Cod.Fisc: <%= @invoice.custumer.codfisc %>
          <% end %>
      </p>


    </div>


    <div id="anagrafica-cliente" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <p>
          <% if !@invoice.custumer.address.nil? && !@invoice.custumer.address.via.empty? %>
          <strong>Da Inviare a:</strong><br>
          <%= @invoice.custumer.denominazione %><br>
          <%= @invoice.custumer.address.via %><br>
          <%= @invoice.custumer.address.cap %> - <%= @invoice.custumer.address.citta %> (<%= @invoice.custumer.address.provincia %>)<br>
          <% else %>  
          <strong>Spett.le</strong><br>
          <%= @invoice.custumer.denominazione %><br>
          <%= @invoice.custumer.indirizzo %><br>
          <%= @invoice.custumer.cap %> - <%= @invoice.custumer.citta %> (<%= @invoice.custumer.provincia %>)<br>
          P.IVA: <%= @invoice.custumer.piva %><br>
          Cod.Fisc: <%= @invoice.custumer.codfisc %> 
          <% end %>         
      </p>
    </div>

</div><!-- end row -->


<div class="col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Codice</th>
          <th>Descrizione</th>
          <th>Quantità</th>
          <th>Prezzo unitario</th>
          <th>Importo</th>
          <th>Iva</th>
        </tr>
      </thead>

      <tbody>
        <% if @invoice.rifornimenti == true %>
        <tr>
          <td></td>
          <td>
              FATTURAZIONE DEI VS. RIFORNIMENTI EFFETTUATI NEL MESE DI <%= @invoice.mese %>
              <% if @invoice.distributore %><br>
               PRESSO IL NOSTRO DISTRIBUTORE STRADALE DI <%= @invoice.distributore %>
              <% end %>
          </td>
          <td></td>
          <td></td>
        </tr>
        <% end %>

        <% @invoice.invoice_articles.each do |invoice_article| %>
          <tr>
            <td><%= invoice_article.codice %></td>
            <td>
              <% if invoice_article.articles.empty? %>
              <%= invoice_article.titolo %><br>
              <% else %>
              <%= invoice_article.articles %><br>
              <% end %>
              <%= invoice_article.descrizione %>
            </td>
            <td><%= invoice_article.quantita %></td>
            <td><%= number_to_currency(invoice_article.prezzo_unitario, :unit=>'€.', precision: 3) %></td>
            <td><%= number_to_currency(invoice_article.importo, :unit=>"€. ", precision: 3) %></td>
            <td><%= invoice_article.tax.codice %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
  <p class="pagamento">
    <strong>MODALITA PAGAMENTO</strong><br>
    <%= @invoice.payment_type.try(:titolo) %>
  </p>

  <p class="scadenze">
    <strong>SCADENZE PAGAMENTO:</strong><br>
    <% @invoice.payment_deadlines.each do |pd| %>
      <%= pd.data.strftime "%d-%m-%Y" %><br>
    <% end %>
  </p>

  <p class="note">
      <strong>NOTE:</strong><br>
      <%= @invoice.note %>
  </p>
</div>



<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <dl class="dl-horizontal" style="float:right">
      <dt><h3 style="text-align:right">Imponibile:<h3></dt>
      <dd><h3 style="text-align:right"><%= number_to_currency(@invoice.imponibile, :unit=>'€. ', precision: 2) %></h3></dd>

      <dt><h3 style="text-align:right">Totale Iva:</h3></dt>
      <dd>
        <h3 style="text-align:right"><%= number_to_currency(@invoice.totale_iva, :unit=>'€. ', precision: 2) %></h3>
        <%= @invoice.tax.try(:descrizione) %>
      </dd>
      <dt><h2 style="text-align:right">Totale:</h2></dt>
      <dd><h2 style="text-align:right"><%= number_to_currency(@invoice.totale, :unit=>'€. ', precision: 2) %></h2></dd>
    </dl>
</div>





<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>

</div>
