
<div class="col-xs-12">
<h2>Risultati su <%= Questionario.all.count %> questionari ricevuti al <%= Date.today.strftime "%d-%m-%Y" %></h2>
</div>


<% Category.order('position').all.each do |cat| %>
<div class="col-xs-12 categoriatab">
	<h2 class="titolocat"><%= cat.titolo %></h2>

	<% cat.questions.all.each do |quest| %>
 	<div class="col-xs-12 questione">
 		<div class="col-xs-12">
			<strong><%= quest.codice %> - <%= quest.question %></strong> <!--<%= quest.totale %>-->
			<br>
		</div><!-- col-xs-12 -->

		<div id="contatore" class="col-xs-12">
			<ul>
				<% quest.answers.all.each do |answer| %>
				<li>
					<!--button class="btn btn-primary" type="button" -->
					<%= answer.option %><br><span class="badge"><%= answer.totale %></span>
					<!--/button-->
				</li>
				<% end %><!-- end answer -->
			</ul>



			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo<%= quest.id %>" aria-expanded="false" aria-controls="collapseTwo">
          Altro <i class="fa fa-chevron-circle-down"></i>
        </a>
      </h4>
    </div>
    <div id="collapseTwo<%= quest.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
			<% Questionariodatum.where('question_id=?', quest.id).each do |alt| %>
			<% if alt.altro.present? %>
				<i class="fa fa-arrow-circle-right"> <%= alt.altro %></i><br>
				<% end %>
			<% end %><!-- fine altro -->
      </div>
    </div>
  </div>
 
</div><!-- panel group -->


		</div><!-- col-xs-12 -->


	</div><!-- questione -->
	<% end %><!-- quest loop -->
</div><!-- categoriatab -->
<% end %><!-- end category loop -->








