<footer class="page-footer blu-motowork">
    <div class="container">
      <div class="row">
        <div class="col l9 s12">
          <h5 class="white-text">Configurazioni</h5>
          <ul>
            <li><%= link_to "Categorie Prodotti", product_categories_path %></li>
            <li><%= link_to "Impiegati", employees_path, class: "white-text" %></li>
            <li><%= link_to "Tasse", taxes_path, class: "white-text" %></li>
            <li><%= link_to "Metodi di Pagamento", payment_methods_path, class: 'white-text' %></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">&nbsp;</h5>
          <ul>
              <li><%= link_to "Anagrafiche", address_books_path %></li>
              <li><%= link_to "Marchi", brands_path %></li>
              <li><%= link_to "Fornitori", suppliers_path %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Designed by <a class="orange-text text-lighten-3" href="http://www.abacus85.it">Abacus#85</a>
      </div>
    </div>
</footer>
  
  <div class="hiddendiv common"></div>
  <div class="drag-target" data-sidenav="nav-mobile" style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>