<h1>Listing invoiceextras</h1>

<table>
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Codice</th>
      <th>Descrizione</th>
      <th>Quantita</th>
      <th>Prezzo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoiceextras.each do |invoiceextra| %>
      <tr>
        <td><%= invoiceextra.invoice %></td>
        <td><%= invoiceextra.codice %></td>
        <td><%= invoiceextra.descrizione %></td>
        <td><%= invoiceextra.quantita %></td>
        <td><%= invoiceextra.prezzo %></td>
        <td><%= link_to 'Show', invoiceextra %></td>
        <td><%= link_to 'Edit', edit_invoiceextra_path(invoiceextra) %></td>
        <td><%= link_to 'Destroy', invoiceextra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoiceextra', new_invoiceextra_path %>
