<p id="notice"><%= notice %></p>

<p>
  <strong>Denominazione:</strong>
  <%= @azienda.denominazione %>
</p>

<p>
  <strong>Piva:</strong>
  <%= @azienda.piva %>
</p>

<p>
  <strong>Codfisc:</strong>
  <%= @azienda.codfisc %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @azienda.indirizzo %>
</p>

<p>
  <strong>Cap:</strong>
  <%= @azienda.cap %>
</p>

<p>
  <strong>Citta:</strong>
  <%= @azienda.citta %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @azienda.tel %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @azienda.fax %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @azienda.cell %>
</p>

<p>
  <strong>Email:</strong>
  <%= @azienda.email %>
</p>

<p>
  <strong>Web:</strong>
  <%= @azienda.web %>
</p>

<p>
  <strong>Pec:</strong>
  <%= @azienda.pec %>
</p>

<p>
  <strong>Referente:</strong>
  <%= @azienda.referente %>
</p>

<p>
  <strong>Note:</strong>
  <%= @azienda.note %>
</p>


<h3>Coordinate Bancarie</h3>

<% @azienda.banks.each do |bank| %>
Gruppo Bancario: <%= bank.nome %><br>
ABI: <%= bank.abi %><br>
CAB: <%= bank.cab %><br>
C.C.<%= bank.numeroconto %><br>
Codice Iban: <%= bank.iban %>
<% end %>





<%= link_to 'Modifica', edit_azienda_path(@azienda) %> |
<%= link_to 'Indice', aziendas_path %>
