<p id="notice"><%= notice %></p>

<p>
  <strong>Titolo:</strong>
  <%= @payment_type.titolo %>
</p>

<p>
  <strong>Descrizione:</strong>
  <%= @payment_type.descrizione %>
</p>

<%= link_to 'Edit', edit_payment_type_path(@payment_type) %> |
<%= link_to 'Back', payment_types_path %>
