<h1>Tipologie di Pagamento</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Titolo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipopagamentos.each do |tipopagamento| %>
      <tr>
        <td><%= tipopagamento.titolo %></td>
        <td><%= link_to 'Vedi', tipopagamento, class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Modifica', edit_tipopagamento_path(tipopagamento), class: 'btn btn-warning btn-xs' %></td>
        <td><%= link_to 'Cancella', tipopagamento, method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Aggiungi Tipologia Pagamento', new_tipopagamento_path, class: 'btn btn-info btn-xs' %>
