<h1>Listing internodata</h1>

<table>
  <thead>
    <tr>
      <th>Interno</th>
      <th>Descrizione</th>
      <th>Quantita</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @internodata.each do |internodatum| %>
      <tr>
        <td><%= internodatum.interno %></td>
        <td><%= internodatum.descrizione %></td>
        <td><%= internodatum.quantita %></td>
        <td><%= link_to 'Show', internodatum %></td>
        <td><%= link_to 'Edit', edit_internodatum_path(internodatum) %></td>
        <td><%= link_to 'Destroy', internodatum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Internodatum', new_internodatum_path %>
